<!-- <form id='loginForm'>
    <input type="text" [(ngModel)]='username' name='username'><br>
    <input type="password" [(ngModel)]='password' name='password'><br>
    <button type='submit' (click)='loginFunction()'>Login</button>
</form> -->
<div class="wrapper fadeInDown">
    <div id="formContent">  
      <!-- Login Form -->
      <form id='loginForm'>
        <input type="text" [(ngModel)]='username' id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="password" [(ngModel)]='password' id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" (click)='loginFunction()' class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>